In [1]:
# load sql connection
#%load_ext sql

In [ ]:
# connect to database
#%sql sqlite:///flake_characteristics.db

In [2]:
# create class of flakes
class flakes:
    def __init__(self, image, mag, thickness, l_side, num_flakes, location):
        self.image = image
        self.mag = mag
        self.thickness = thickness
        self.l_side = l_side
        self.num_flakes = num_flakes
        self.location = location

In [5]:
# create flake objects
img = ["Images/GRAPHENE/flg_2/a_50xX","Images/GRAPHENE/bl_1/bl_a_50x.jpg", \
         "Images/GRAPHENE/ml_4/ml_a_20x.jpg","Images/GRAPHENE/bl_2/bl_a_2.5x.jpg"]
mag = [50, 50, 20, 2.5]
thickness = ['fl','bl','ml','bl']
l_side = [80,129,75,62]
num_flakes = [1,2,3,4]
location = ["UL","MR","LL","UR"]
usable_flakes = []
for i in range(len(img)):
    usable_flakes.append(flakes(img[i],mag[i],thickness[i],l_side[i],num_flakes[i],location[i]))

usable_flakes

[<__main__.flakes at 0x7f7984eab190>,
 <__main__.flakes at 0x7f7984e74c10>,
 <__main__.flakes at 0x7f7984e74cd0>,
 <__main__.flakes at 0x7f7984f31be0>]

In [41]:
# create table of characteristics
# varchar(#) = max # of characters in string
import sqlite3
con = sqlite3.connect("flake_characteristics.db")

# create cursor object 
c = con.cursor()

# create table "flake_char_test"
#c.execute("CREATE TABLE flake_char_test (image varchar(100) PRIMARY KEY, mag int, thickness varchar(100), l_side int, num_flakes int, location varchar(100))")

# get column names from table
#col = [description[0] for description in c.description]


c.execute("SELECT * from flake_char_test")
table = c.fetchall()
for r in table:
    print("Image: ", r[1])

Image:  f.mag
Image:  50
Image:  50
Image:  20
Image:  2.5

In [37]:
# add data into table from "usable_flakes"
for f in usable_flakes:
    image = f.image
    add_to_table = "INSERT INTO flake_char_test VALUES (?, ?, ?, ?, ?, ?)"
    c.execute(add_to_table, (f.image, f.mag, f.thickness, f.l_side, f.num_flakes, f.location))
    con.commit()
    #c.execute("INSERT or REPLACE INTO flake_char_test \
    #VALUES (image, f.mag, 'f.thickness', 'f.l_side', 'f.num_flakes', 'f.location')");

IntegrityError: UNIQUE constraint failed: flake_char_test.image

In [16]:
c.execute("SELECT * FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('table', 'flake_char_test', 'flake_char_test', 2, 'CREATE TABLE flake_char_test (image varchar(100) PRIMARY KEY, mag int, thickness varchar(100), l_side int, num_flakes int, location varchar(100))')]