In [2]:
import sqlite3
import pandas as pd
import os

In [4]:
### INPUT MAGNIFICATION AS "_#x"
mag_using = "_20x"

### CONNECT TO SQL DATABASE "flake_characteristics"
con = sqlite3.connect('flake_characteristics'+mag_using)
c = con.cursor()

# Selective Querying
## Characteristics to choose from:  
    1. image                                   
    2. mag                                     
    3. thickness                               
    4. l_side range: [50, 200]                                             
    5. location (see below)

## Locations:
    1. UL = Upper Left     2. UM = Upper Middle    3. UR = Upper Right
    4. ML = Middle Left    5. MM = Middle Middle   6. MR = Middle Right
    7. LL = Lower Left     8. LM = Lower Middle    9. LR = Lower Right

## Thicknesses:
    1. mono
    2. bi
    3. few

In [5]:
# Query all characteristics (*)
df = pd.read_sql_query("SELECT * FROM flakes", con)

# print database
#df.style

In [6]:
# Query multiple characteristics (image, location -> characteristic 1, characteristic 2, ...)
df = pd.read_sql_query("SELECT image, location FROM flakes", con)

# print database
#df.style

In [8]:
# Query by l_side length (l_side < # -> any 50 < # < 200)
df = pd.read_sql_query("SELECT * FROM flakes WHERE l_side > 100", con)

# print database
df.style

In [10]:
# Query by location (UL -> any location)
df = pd.read_sql_query("SELECT * FROM flakes WHERE location = 'ML'", con)

# print database
df.style

In [43]:
# Query by thickness (mono -> any thickness)
df = pd.read_sql_query("SELECT * FROM flakes WHERE thickness = 'mono'", con)

# print database
#df.style